* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", system-ui;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    color: #e4e4e4;
    padding: 1rem;
  }
  body{
      background-color: #d4d4d4;
  }